# symfony project files
/bin/
lib/vendor/
cache/*
log/*
config/databases.yml
config/propel.ini
config/*-schema.xml
data/sql/*
lib/filter/base/Base*
lib/form/base/Base*
lib/reference/base/*
lib/model/om/*
lib/model/map/*
plugins/
web/uploads/*
web/*Plugin

# IDE-specific files
.idea/
.sublime-*

# Composer lockfile (for the installer project - you shouldn't ignore yours!)
composer.lock
